text.ok=ok
text.username=Username
text.email=Email
text.password=Password
text.dateOfBirth=Date of Birth
text.isAdmin=IsAdmin
text.valid=Valid
text.id=ID
text.accessDeniedOne=Edit: admin, valid
text.accessDeniedTwo=Edit: other user
text.email.verifySubject=Email verification required
text.email.verifyButton=Verify email
text.email.verifyContent.address=Dear
text.email.verifyContent=We have received a registration attempt using your email address. If the attempt was made by you, please click the link below to verify your email address and begin using our app.
text.email.beenVerify=Your email has been verified.
text.error=error
text.error.userNotFound.default=Username or password is incorrect.
text.error.userNotFound.message.partOne=User with name
text.error.userNotFound.message.partTwo=is not found.
text.error.userNotFound.long.partOne=User with id
text.error.userNotFound.long.partTwo=is not found.
text.error.invalidToken=Invalid token:
text.error.invalidParameter=is required.
text.error.lowPasswordLength.partOne=Password must be
text.error.lowPasswordLength.partTwo=characters.
text.error.parameterTaken=is already taken.
text.error.wrongEmailFormat=Wrong email format.
text.error.wrongDateFormat=Accepted date format: [dd-mm-yyyy].
text.error.accessDenied=Access Denied.
text.error.parameterMatch=parameter is already same.
text.error.userNotActivated=Your user is not activated.
text.error.userNotEnabled=Your user is not enabled.
text.error.buildEmailMessageProblem=Build email message problem.
text.error.sendEmailMessageProblem=Send email message problem.
text.error.userAlreadyVerified=This user has already been verified!